*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
h1{
    font-family: 'Fredoka', sans-serif;
    color: black;

}
h2{
    font-family: 'Knewave', system-ui;
    font-size: 60px;
}
p{
    font-family: 'Fredoka', sans-serif;
    font-size: 38px;
}
.container{
    width: 70%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.menu-bar{
    display: flex;
    width: 100%;
    height: auto;
}
.menu{
    font-family: 'Fredoka', sans-serif;
    width: 100%;
    height: 150PX;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-left: 190px;
 
}
.menu ul{
    
    float: left;
}
.menu ul li {
    float: left;
}
.menu ul li a{
    display: block;
    padding: 0px 50px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;

}
.menu ul li a:hover{
    background-color: rgba(27, 4, 4, 0.226);
}
